<div class="jumbotron center">
	<h1>BeatBox Cashier</h1>
	<% if user_signed_in? %>
		<%= link_to "New Event", new_event_path, class: "btn btn-lg btn-primary" %>
		<%= link_to "Last Event", last_event, class: "btn btn-lg btn-primary" %>
		<%= link_to "All Events", events_path, class: "btn btn-lg btn-primary" %>
	<% else %>
		<p>
			<%= link_to "Sign In", new_user_session_path, class: "btn btn-lg btn-primary" %>
		</p>
	<% end %>
</div>